body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: whitesmoke;
}

#gameBoard {
  width: 300px;
  height: 300px;
  border: 2px solid black;
}

#gameBoard div {
  width: 33.33%;
  height: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  border: 1px solid green;
  cursor: pointer;
}

#result {
  margin-top: 20px;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
